body {
    background-color: #f4f4f4;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: #222;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    width: 300px;
}

#display {
    width: 92.5%;
    height: 60px;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #333;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background: #444;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
}


button.equal {
    grid-column: span 2;
}

.operator{
    color:aqua
}